*{
    background-color: #0e0e0e;
}

#add{
    padding: 0 40px;
}

.pointer{
    color: #8b8b8b;
    margin-bottom: 10%;
}
#carousel{
    width: 90%;
    height: 30rem;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #0e0e0e;
    border: 0.1rem solid #ffffff;
    border-radius: 1.5rem; 
    padding: 20px;
}

